#app-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.TripDisplay {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
  margin-bottom: 2px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 500px) {
  .TripDisplay {
    flex-flow: row wrap;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 5px;
  }
}

.TrainID {
  border-radius: 5px;
  padding: 5px;
  float: none;
  white-space: nowrap;
}

.TrainID.limited {
  background-color: #f7e89d;
}

.TrainID.local {
  background-color: #eee;
}

.TrainID.bullet {
  background-color: #d2565d;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.TimeDisplay-dateDiff {
  color: red;
}

.TimeDisplay--realtime {
  color: blue;
}

.TrainView--timePast {
  color: grey;
}

.TripView li {
  list-style: none;
  margin-bottom: 1em;
}

.TrainView--timePast .TripView-box {
  background-color: grey;
}

.TrainView--timePast .TripView-box::before {
  background-color: grey;
}

.TripView-box {
  background-color: rgb(197, 93, 111);
  width: 30px;
  height: 5px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  border-radius: 2.5px;
}

.TripView-box::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: rgb(197, 93, 111);
  width: 5px;
  height: 2.5em;
  border-radius: 2.5px;
  margin-left: 12.5px;
  z-index: 9;
}
