[Unit]
Description=Train Backend Server

[Service]
ExecStart=/usr/local/bin/train-schedules
Environment=DB_PATH=/var/run/train-schedules.db
EnvironmentFile=/var/run/train-schedules.env

[Install]
WantedBy=multi-user.target